################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodingChallenge/.vs
/CodingChallenge/CodingChallenge/bin/Debug/net6.0
/CodingChallenge/CodingChallenge/obj
/CodingChallenge/CodingChallengeTest/bin
/CodingChallenge/CodingChallengeTest/obj
